In [1]:
import pandas as pd

In [2]:
datos_abiertos_2024 = pd.read_csv('/Users/lalomac/Downloads/Notebook - David/04 - Procesamiento de Datos/datos_abiertos_2024_08.csv')

In [3]:
datos_abiertos_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394894 entries, 0 to 394893
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Viaje_Id           394894 non-null  int64
 1   Usuario_Id         394894 non-null  int64
 2   Genero             392499 non-null  object
 3   Ano_de_nacimiento  394727 non-null  float64
 4   Inicio_del_viaje   394894 non-null  object
 5   Fin_del_viaje      394894 non-null  object
 6   Origen_Id          394894 non-null  int64
 7   Destino_Id         394894 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 24.1+ MB

In [4]:
# Show the first 5 rows of the dataframe
print(datos_abiertos_2024.head())

# Show the last 5 rows of the dataframe
print(datos_abiertos_2024.tail())

# Show the summary statistics of the numerical columns
print(datos_abiertos_2024.describe())

# Show the unique values in the 'Genero' column
print(datos_abiertos_2024['Genero'].unique())

# Show the count of each unique value in the 'Genero' column
print(datos_abiertos_2024['Genero'].value_counts())

# Show the number of missing values in each column
print(datos_abiertos_2024.isnull().sum())

   Viaje_Id  Usuario_Id Genero  Ano_de_nacimiento     Inicio_del_viaje  \
0  34950758     1653754      M             2001.0  2024-08-01 00:00:09
1  34950759     2703032      M             1970.0  2024-08-01 00:01:08
2  34950760     2077125      M             1990.0  2024-08-01 00:01:16
3  34950764     3503076      F             1981.0  2024-08-01 00:05:12
4  34950765     3470220      M             1997.0  2024-08-01 00:05:47

         Fin_del_viaje  Origen_Id  Destino_Id
0  2024-08-01 00:14:18         12         159
1  2024-08-01 00:23:41         78         341
2  2024-08-01 00:26:01         85          53
3  2024-08-01 00:25:26        255         349
4  2024-08-01 00:21:17         21         178
        Viaje_Id  Usuario_Id Genero  Ano_de_nacimiento     Inicio_del_viaje  \
394889  35406559      772126      M             1993.0  2024-08-31 23:57:57
394890  35406560     4055203      M             1990.0  2024-08-31 23:58:20
394891  35406561     2026005      M             2003.0  2024-08-31 23:58:41
394892  35406562     4032216      F             2001.0  2024-08-31 23:59:10
394893  35406563      661573      M             1976.0  2024-08-31 23:59:16

              Fin_del_viaje  Origen_Id  Destino_Id
394889  2024-09-01 00:02:13         64          66
394890  2024-09-01 00:16:29         50          67
394891  2024-09-01 00:03:46        269         385
394892  2024-09-01 00:11:26         88          50
394893  2024-09-01 00:08:19          9         228
           Viaje_Id    Usuario_Id  Ano_de_nacimiento      Origen_Id  \
count  3.948940e+05  3.948940e+05      394727.000000  394894.000000
mean   3.517914e+07  1.888543e+06        1989.842111     152.138364
std    1.315776e+05  1.367292e+06          12.275640     110.244294
min    3.495076e+07  1.020000e+02         200.000000       2.000000
25%    3.506501e+07  5.532420e+05        1984.000000      51.000000
50%    3.517922e+07  1.712601e+06        1993.000000     155.000000
75%    3.529353e+07  2.764674e+06        1998.000000     254.000000
max    3.540656e+07  4.451616e+06        2023.000000     390.000000

          Destino_Id
count  394894.000000
mean      153.616535
std       113.344279
min         2.000000
25%        51.000000
50%       154.000000
75%       259.000000
max       390.000000
['M' 'F' nan]
Genero
M    286905
F    105594
Name: count, dtype: int64
Viaje_Id                0
Usuario_Id              0
Genero               2395
Ano_de_nacimiento     167
Inicio_del_viaje        0
Fin_del_viaje           0
Origen_Id               0
Destino_Id              0
dtype: int64

In [5]:
datos_abiertos_2024.drop_duplicates(inplace=True)

In [6]:
datos_abiertos_2024.shape

(394894, 8)

In [7]:
datos_abiertos_2024.rename(columns={'Genero': 'Sexo'}, inplace=True)
datos_abiertos_2024.columns

Index(['Viaje_Id', 'Usuario_Id', 'Sexo', 'Ano_de_nacimiento',
       'Inicio_del_viaje', 'Fin_del_viaje', 'Origen_Id', 'Destino_Id'],
      dtype='object')

In [8]:
datos_abiertos_2024.isnull().sum()

Viaje_Id                0
Usuario_Id              0
Sexo                 2395
Ano_de_nacimiento     167
Inicio_del_viaje        0
Fin_del_viaje           0
Origen_Id               0
Destino_Id              0
dtype: int64

In [9]:
datos_abiertos_2024.fillna('Desconocido', inplace=True)