<div class="alert alert-block alert-info">
<span style="color: rgb(0,53,91);">
<center><img src="./Imagenes/ITESO_Logo.png" style="width:500px;height:142px;" title="Logo ITESO"></center>
<font face = "Times New Roman" size = "6"><b><center>Maestría en Sistemas Computacionales</center></b></font>
<font face = "Times New Roman" size = "5"><b><center>Programación para Análisis de Datos</center></b></font>

<b><br><font face = "Times New Roman" size = "4"><center>Unidad 4: Conceptos Generales</center></font>
<font face = "Times New Roman" size = "4"><center>Tema 4.1: Exploración, Integración y Limpieza de Datos</center></font>
<font face = "Times New Roman" size = "4"><center>Subtema c: Operaciones Básicas, Limpieza e Imputación</center></font></b>
<div align="right"><font face = "Times New Roman" size = "2">Dr. Iván Esteban Villalón Turrubiates (villalon@iteso.mx)</font></div>
</span></div>

## OPERACIONES BÁSICAS, LIMPIEZA E IMPUTACIÓN

La clase **DataFrame** de **Pandas** contiene cientos de atributos y métodos que son de gran importancia para el proceso de análisis de datos. Estos pueden ser consultados en detalle por medio de [esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).

Para ejemplificar algunos de ellos, se empleará una base de datos generada por ***Internet Movie DataBase (IMDB)***, la cual puede ser empleada de manera abierta para uso personal y/o no comercial. ***IMDB*** genera varias bases de datos las cuales están disponibles de manera gratuita, se actualizan diariamente y pueden ser descargadas a través de [esta liga](https://www.imdb.com/interfaces).

Debido a que son bases de datos sumamente extensas (mayores a 500MB), se contará con una versión reducida de una de ellas para este ejercicio, la cual está almacenada en un archivo de nombre `IMBD_Data.csv` que contiene 12 columnas con 1000 entradas, y todos los datos contenidos en la misma están en el idioma *inglés*. Los encabezados de las columnas de información son:

>1. **Rank**: Es un número consecutivo entre 1 y 1000.
>2. **Title**: Es el título de la película.
>3. **Genre**: Son los géneros a los cuales pertenece la película.
>4. **Description**: Es un texto breve con una descripción de la película.
>5. **Director**: Es el director de la película.
>6. **Actors**: Son los actores principales de la película.
>7. **Year**: Es el año de la película.
>8. **Runtime (Minutes)**: Es el tiempo de duración de la película en minutos.
>9. **Rating**: Es una valoración entre 0 y 10 de la película proporcionado por los críticos. 
>10. **Votes**: Es la cantidad de votos de las personas que recibió la película. 
>11. **Revenue (Millions)**: Es el ingreso recibido por la película en millones de dólares americanos.
>12. **Metascore**: Es una valoración entre 0 y 100 basada en los votos de las personas que recibió la película.

Para la lectura del archivo, se importará la librería **Pandas** y se empleará el método `.read_csv()` definiendo la columna `Title` como el **Indice**, finalmente se muestra el **DataFrame**.

***Nota 1:*** Podrá notarse que el tamaño del **DataFrame** se muestra como `1000 rows × 11 columns`, esto es debido a que la columna definida como **Indice** no se cuenta como parte del **DataFrame**. Por otro lado, hay que recordar que la columna que queda definida como el **Indice** del **DataFrame** siempre se mostrará un poco más abajo en relación a los nombres de las columnas restantes.

***Nota 2:*** Para mostrar el **DataFrame** solo es necesario escribir el nombre del mismo (no se requiere la función `print()`), pero cuando se requiere mostrar más de un **DataFrame** en **Jupyter Notebook**, solamente el último será el que se muestre (se van mostrando uno sobre otro). Para evitarlo, se puede emplear la función `display()` para mostrar uno o varios **DataFrames** con la ventaja de que los mostrará uno después del otro.

In [1]:
#Importación de librerías
import pandas as pd

#Lectura de los datos y asignación del nombre de las películas como el índice
movies_df = pd.read_csv("./Datos/IMDB_Data.csv", index_col = 'Title')

#Impresión de los Resultados
print("El DataFrame es:")
display(movies_df)

El DataFrame es:

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### Visualización de los Datos
A manera de referencia visual y para poder corroborar que el archivo se ha leído de manera adecuada, es adecuado imprimir una parte de la base de datos. 

Esto se puede llevar a cabo empleando el método `.head()`, el cual muestra las **primeras** cinco filas del **DataFrame** de manera predeterminada, pero se puede dar un número distinto en el argumento si se requiere.

Por ejemplo, para visualizar los primeros 10 renglones se emplea: 
```python
movies_df.head(10)
```

In [2]:
#Impresión de los Resultados
print("El DataFrame es:")
movies_df.head(10)

El DataFrame es:

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

De manera similar, para visualizar los **últimos** cinco renglones (de manera predeterminada) se emplea el método `.tail()`, pero el valor del argumento puede cambiar para visualizar una cantidad distinta.

Por ejemplo, para visualizar los últimos 10 renglones será:

In [3]:
#Impresión de los Resultados
print("El DataFrame es:")
movies_df.tail(10)

El DataFrame es:

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Underworld: Rise of the Lycans,991,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,"Rhona Mitra, Michael Sheen, Bill Nighy, Steven...",2009,92,6.6,129708,45.80,44.0
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
Take Me Home Tonight,993,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### Obtener Información de los Datos
El método `.info()` es uno de los primeros comandos que se pueden emplear después de cargar los datos, proporciona los detalles más esenciales acerca de los datos contenidos en el **DataFrame** como:

* El número de filas y columnas.
* La cantidad de valores nulos presentes.
* El tipo de datos en cada columna. 
* La cantidad de memoria que el **DataFrame** está empleando. 

En esta base de datos de ***IMDB*** se tienen algunos valores nulos en las columnas `Revenue` y `Metascore` para poder analizar una manera de rellenarlos (se verá posteriormente).

Revisar los tipos de datos es de gran utilidad, por ejemplo, si se carga un archivo `JSON` y los valores enteros en el mismo fueron cargados como tipo cadena, al momento de realizar alguna operación aritmética con ellos habrá una excepción del tipo ***unsupported operand***, esto debido a que no se pueden realizar operaciones matemáticas con cadenas. El emplear el método `.info()` aporta una utilidad rápida para corroborar el formato adecuado de los datos, su aplicación es sencilla:

In [4]:
#Impresión de los Resultados
print("La Información del DataFrame es:\n")
movies_df.info()

La Información del DataFrame es:

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

Otro método de gran utilidad es `.shape`, el cual proporciona una Tupla con la cantidad de renglones y columnas en formato `(renglones, columnas)`.

En el proceso de limpieza de datos se emplea mucho este método, por ejemplo, cuando se hace filtrado de renglones a través de varios criterios, es posible indentificar la cantidad de ellos que fueron removidos.

***Nota:*** Es importante recalcar que la sintaxis para el método `.shape` no incluye paréntesis y regresa una simple Tupla. Se cuenta con **1000 renglones** y **12 columnas** en el DataFrame que se ha cargado, y estos valores se pueden asignar a variables. Hay que recordar que la columna definida como **Indice** no se cuenta como parte del **DataFrame**.

In [5]:
#Impresión de los Resultados
print("La Información del DataFrame es:")
movies_df.shape

La Información del DataFrame es:

(1000, 11)

### Manejo de Datos Duplicados
La base de datos que se está empleando de ***IMDB*** no contiene renglones duplicados, sin embargo es importante verificar que no se estén agregando renglones que ya existen. 

Para ello, una manera simple es agregar el **DataFrame** a sí mismo empleando el método `append()`, el cual regresará una copia pero sin modificar el **DataFrame** original. Esta copia se captura en un nuevo **DataFrame** llamado `temp_df` para no emplear los datos originales. 

Una vez que se revisa el tamaño de esta copia con el método `.shape`, es notorio ver que la cantidad de renglones es el doble. A partir de esto, se pueden eliminar los renglones duplicados:

In [8]:
#Copia y agregado del DataFrame original
temp_df = pd.concat([movies_df, movies_df])

#Impresión de los Resultados
print("La Información del nuevo DataFrame es:")
temp_df.shape

La Información del nuevo DataFrame es:

(2000, 11)

De manera similar al método `append()`, el método `drop_duplicates()` regresa una copia del **DataFrame** pero con los renglones duplicados ya removidos. 

Al verificar su extensión con el método `.shape` se puede ver que el tamaño original de la base de datos se recupera.

In [9]:
#Eliminación de renglones duplicados
temp_df = temp_df.drop_duplicates()

#Impresión de los Resultados
print("La Información del nuevo DataFrame es:")
temp_df.shape

La Información del nuevo DataFrame es:

(1000, 11)

Para no tener que asignar el **DataFrame** a la misma variable como se realizó en este ejemplo, **Pandas** proporciona el argumento `inplace` en varios de sus métodos. Al emplear `inplace = True` se modificará el **DataFrame** original:

In [10]:
#Eliminación de renglones duplicados
temp_df.drop_duplicates(inplace = True)

#Impresión de los Resultados
print("La Información del nuevo DataFrame es:")
temp_df.shape

La Información del nuevo DataFrame es:

(1000, 11)

De esta manera, la variable `temp_df` *tendrá* los datos transformados automáticamente.

Otro argumento importante del método `drop_duplicates()` es `keep`, el cual tiene tres alternativas:

* `first`: Elimina los duplicados excepto la primer ocurrencia (predeterminado).
* `last`: Elimina los duplicados excepto la última ocurrencia.
* `False`: Elimina todos los duplicados.

Debido a que no se empleó el argumento `keep`en el ejemplo, se aplica el valor `first` de manera predeterminada. Esto significa que si dos renglones tienen los mismos valores, **Pandas** eliminará el segundo renglón pero conservará el primero.

Si se emplea `False` se eliminarán todos los duplicados. Para ejemplificarlo:

In [12]:
#Copia y agregado del DataFrame original
temp_df = pd.concat([movies_df, movies_df])

#Eliminación de todos los duplicados
temp_df.drop_duplicates(inplace = True, keep = False)

#Impresión de los Resultados
print("La Información del nuevo DataFrame es:")
temp_df.shape

La Información del nuevo DataFrame es:

(0, 11)

### Limpieza de Columnas
En muchas ocasiones, las bases de datos pueden tener nombres extensos con símbolos, palabras en mayúsculas y minúsculas, espacios y tipografías. Para realizar la selección de datos a través de columnas empleando nombres sencillos, es necesario tomar tiempo para hacer una limpieza de esos nombres. 

Primeramente, podemos imprimir los encabezados (nombres de columnas) de nuestra base de datos empleando el método `.columns`, el cual es de gran ayuda cuando se requiere renombrar alguna columna o si se está recibiendo un ***Key Error*** al momento de seleccionar una columna en particular.

Esto es:

In [13]:
#Mostrar los Nombres de los Encabezados
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

Se puede emplear el método `.rename()` para cambiar el nombre a alguna columna en particular o a todas ellas a través de un **Diccionario**. 

Por ejemplo, para no tener encabezados con paréntesis incluidos:

In [14]:
#Renombrado de Encabezados
movies_df.rename(columns = {
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue'
    }, inplace = True)

#Mostrar los Nombres de los Encabezados
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

Es posible hacer que todas las letras estén en mayúsculas. Pero para evitar hacerlo de manera manual, se puede aplicar la siguiente función directamente sobre el método `.columns`: 
```Python
col.upper() for col in movies_df
```

In [15]:
#Cambio de Encabezados a Mayúsculas
movies_df.columns = [col.upper() for col in movies_df]

#Mostrar los Nombres de los Encabezados
movies_df.columns

Index(['RANK', 'GENRE', 'DESCRIPTION', 'DIRECTOR', 'ACTORS', 'YEAR', 'RUNTIME',
       'RATING', 'VOTES', 'REVENUE', 'METASCORE'],
      dtype='object')

De manera similar, es posible hacer que todas las letras estén en minúsculas aplicando la siguiente función directamente sobre el método `.columns`: 
```Python
col.lower() for col in movies_df
```

In [16]:
#Cambio de Encabezados a Minúsculas
movies_df.columns = [col.lower() for col in movies_df]

#Mostrar los Nombres de los Encabezados
movies_df.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

### Manejo de Valores Nulos
En la etapa de exploración de datos, es muy probable que exitan ***valores perdidos o nulos***, los cuales son marcadores de posición (*placeholders*) para valores no existentes. Lo más común es ver `None` en **Python**, o `np.nan` y `NaN` en **NumPy**, cada uno de ellos se manejan de manera distinta dependiendo de las situaciones.

Hay dos opciones para el manejo de ***valores nulos***:

1. Eliminar el renglón o la columna que contenga ***valores nulos***. 
2. Reemplazar los ***valores nulos*** con valores que no sean nulos, es una operación conocida como **Imputación**.

Para la base de datos que estamos usando, es posible determinar la cantidad de ***valores nulos*** en cada columna por medio del método `.isnull()`, el cual regresa un **DataFrame** donde cada celda contiene un valor booleano (*True / False*) dependiendo del estado de dicha celda, esto es:

In [17]:
#Verificación de Valores Nulos
movies_df.isnull()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,False,False,False,False,False,False,False,False,False,True,False
Hostel: Part II,False,False,False,False,False,False,False,False,False,False,False
Step Up 2: The Streets,False,False,False,False,False,False,False,False,False,False,False
Search Party,False,False,False,False,False,False,False,False,False,True,False
Nine Lives,False,False,False,False,False,False,False,False,False,False,False

Para contar el número de ***valores nulos*** en cada columna, se puede usar una función de agregación para realizar el conteo, en otras palabras, se puede escribir como `.isnull().sum()`.

El método `.isnull()` suele no ser muy útil por sí mismo, pero en combinación de otros métodos como `.sum()` es de gran utilidad.

Es posible ver la base de datos tiene **128** valores perdidos en la columna de nombre `revenue`, y **64** valores perdidos en la columna de nombre `metascore`.

In [18]:
#Conteo de Valores Nulos
movies_df.isnull().sum()

rank             0
genre            0
description      0
director         0
actors           0
year             0
runtime          0
rating           0
votes            0
revenue        128
metascore       64
dtype: int64

### Eliminar Valores Nulos
Los científicos de datos y analistas suelen enfrentarse al dilema de eliminar o modificar ***valores nulos***, es una decisión que depende completamente del conocimiento de los datos y su contexto. Por lo mismo, eliminar los ***valores nulos*** solo se recomienda si existe una cantidad muy pequeña de datos nulos, o si no son verdaderamente representativos como para afectar el conjunto general de datos. 

El proceso es sencillo empleando el método `.dropna()`, pero esta operación eliminará cualquier **renglón** que tenga al menos un ***valor nulo***, pero regresará un nuevo **DataFrame** para no alterar el original. 

La documentación del método `.dropna()` puede ser consultada [en esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

***Nota:*** Es válido usar el argumento `inplace = True` en este método para que se modifique el **DataFrame** original.

In [19]:
#Eliminación de Renglones con Valores Nulos
no_ren_df = movies_df.dropna()

#Verificación de Valores Nulos
no_ren_df.isnull().sum()

rank           0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
revenue        0
metascore      0
dtype: int64

Esta operación removió 162 renglones donde las columnas `revenue` y `metascore` tenían ***valores nulos***. Esto puede interpretarse como una enorme pérdida de información debido a que existe una gran cantidad de valores adecuados que fueron perdidos, por lo mismo se puede ver la posibilidad de realizar la **Imputación** de los valores. 

Además de eliminar renglones, se pueden eliminar las columnas que tienen valores nulos empleando el argumento `axis=1` dentro del método `.dropna()`, esto es:

In [22]:
#Eliminación de Columnas con Valores Nulos
no_col_df = movies_df.dropna(axis = 1)

#Verificación de Valores Nulos
no_col_df.isnull().sum()

rank           0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
dtype: int64

Para la base de datos empleada, esta operación eliminará las columnas `revenue` y `metascore`.

**Nota**: ¿Cuál es la razón del parámetro `axis = 1`?

No es muy obvio el motivo por el cual se emplea `axis` y por qué su valor debe ser igual a 1 para que afecte a las columnas. Sin embargo, la salida del método `.shape` es:

In [ ]:
#Impresión de los Resultados
print("La Información del nuevo DataFrame es:")
movies_df.shape

De este resultado es posibe ver que el número de **renglones** está en el índice 0 de la **Tupla**, y el número de **columnas** está en el índice 1. Es por ello que el parámetro `axis = 1` afecta las columnas, esto viene heredado de **NumPy**.

### Imputación de Datos
La **Imputación** es una técnica convencional de ingeniería que se emplea para mantener datos relevantes que contienen ***valores nulos***. 

Para evitar que se pierdan datos de la base de datos original, generalmente se emplean valores como **media** y **mediana** para **Imputar** el dato faltante. 

Como ejemplo, se hará la **Imputación** de los valores nulos en la columna `revenue`. 

Para ralizar la **Imputación** de los ***valores nulos*** de la columna `revenue`, es posible emplear el valor de la **media**, el cual se calcula a través del método `.mean()` de la siguiente manera:

In [ ]:
#Determinación del Valor de la Media de la Columna
revenue_mean = movies_df['revenue'].mean()

#Impresión de los Resultados
print("El valor de la Media de la columna es: %.2f" % revenue_mean)

Con este valor de **media**, se llenan los ***valores nulos*** de la columna empleando el método `.fillna()` de la siguiente manera:

In [ ]:
#Asignación de Valores de Media a los Valores Nulos
movies_df['revenue'].fillna(revenue_mean, inplace = True)

De esta manera se han reemplazados todos los ***valores nulos*** de la columna `revenue` con el valor de la **media** de la columna. 

***Nota:*** Al emplear `inplace = True`, automáticamente se actualizan los valores original del **DataFrame** `movies_df`.

In [ ]:
#Conteo de Valores Nulos
movies_df.isnull().sum()

Realizar la **Imputación** de una columna con el mismo valor es un ejemplo básico. Se podria realizar una **Imputación** mucho más adecuada considerando elementos como `Genre` o `Director`. 

Por ejemplo, se puede calcular la **media** de la columna `revenue` para cada género de manera individual, y aplicarlo solo a los ***valores nulos*** que son del mismo género.

### Comprendiendo las Variables
El uso del método `.describe()` en un **DataFrame** proporciona el resumen de datos estadísticos para cada una de las columnas que contienen valores numéricos.

La documentación del método `.describe()` puede ser consultada [en esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html).

In [ ]:
#Valores Estadísticos de las Columnas
movies_df.describe()

El método `.describe()` también puede proporcionar para columnas en específico:

* El conteo de renglones.
* La cantidad de categorías únicas.
* La categoría más importante (mediana).
* La frecuencia de la categoría más importante.

Para ello, se debe especificar por medio de corchetes el encabezado de la columna de interés como `['columna']`, por ejemplo para la columna `genre` será:

In [ ]:
#Características de una Columna
movies_df['genre'].describe()

Esto indica que para la columna `genre` tenemos que:
* Tiene 1000 renglones.
* Contienen 207 valores únicos.
* El valor que más se repite es `Action/Adventure/Sci-Fi`.
* El valor que más se repite tiene una frecuencia de 50 repeticiones.

Por otro lado, el método `.value_counts()` muestra la frecuencia de todos los valores en una columna, este método se puede aplicar de la siguiente manera:

In [ ]:
#Frecuencia de Valores en una Columna
movies_df['genre'].value_counts().head(10)

### Relaciones entre las Variables
Empleando el método de **Correlación** definido por `.corr()`, se pueden general las relaciones entre las variables continuas, mostrando una **Tabla de Correlación** la cual es de gran uso para ciertos tipos de análisis.

La documentación del método `.corr()` de **Pandas** puede ser consultada [en esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html).

In [ ]:
#Tabla de Correlación
movies_df.corr()

Las **Tablas de Correlación** son representaciones numéricas de las relaciones en la base de datos.

Los valores positivos indican una correlación positiva (ambas variables van en incremento), y un valor negativo representa una correlación inversa (una variable incrementa mientras que la otra decrementa). El valor de la correlación está normalizado (0 a 1).

Se puede ver que cada renglón tiene una correlación de 1 con su valor en la columna, lo cual es obvio. Pero por ejemplo, la correlación de `votes` con `revenue` es 0.6, lo cual puede proporcionar información relevante para un análisis en particular.

La **Tabla de Correlación** es una **Matriz de Correlación**, la cual puede ser interpretada de una manera muy sencilla al visualizarla gráficamente.

### Guardar los Cambios en un Archivo CSV

Finalmente, los datos del **DataFrame** `movies_df` que ya han sido actualizados serán guardados en un archivo con formato `CSV` por medio del método `.to_csv()` de **Pandas**, donde el argumento corresponde al nombre del archivo.

In [ ]:
#Guardado del Archivo en formato CSV
movies_df.to_csv('./Guardados/movies_df.csv')

<div class="alert alert-block alert-success">
<b>.: Fin del Subtema :.</b>
</div>

***Liga de aceso al siguiente Subtema:*** 
<br>[d. Extracción de Datos, Filtros y Funciones](d.%20Extraccion%20de%20Datos,%20Filtros%20y%20Funciones.ipynb)