<div class="alert alert-block alert-info">
<span style="color: rgb(0,53,91);">
<center><img src="./Imagenes/ITESO_Logo.png" style="width:500px;height:142px;" title="Logo ITESO"></center>
<font face = "Times New Roman" size = "6"><b><center>Maestría en Sistemas Computacionales</center></b></font>
<font face = "Times New Roman" size = "5"><b><center>Programación para Análisis de Datos</center></b></font>

<b><br><font face = "Times New Roman" size = "4"><center>Unidad 4: Conceptos Generales</center></font>
<font face = "Times New Roman" size = "4"><center>Tema 4.1: Exploración, Integración y Limpieza de Datos</center></font>
<font face = "Times New Roman" size = "4"><center>Subtema g: Concatenación, Agrupación y Pivoteo</center></font></b>
<div align="right"><font face = "Times New Roman" size = "2">Dr. Iván Esteban Villalón Turrubiates (villalon@iteso.mx)</font></div>
</span></div>

## CONCATENACIÓN, AGRUPACIÓN Y PIVOTEO DE DATAFRAMES

Dentro de las operaciones más empleadas en el manejo de **DataFrames** se encuentran la **Concatenación**, la **Agrupación** y el **Pivoteo** que se puede realizar entre ellos.

Para ejemplificar estas operaciones, se emplearán los datos contenidos en archivos en formato `TXT`, los cuales están separados por comas. En esos archivo se incluyen los nombres, sexo y la cantidad de bebés que nacieron para los años *2000* a *2018* (con ese nombre). Se asignarán los valores a un **DataFrame** donde los encabezados de las columnas de información son:

1. **Nombre**: Es el nombre asignado al bebé nacido en ese año.
2. **Sexo**: Es un valor booleano que indica el sexo del bebé (*F* y *M*).
3. **Cantidad**: Es la cantidad de bebés que nacieron con ese nombre.

Para la lectura de un archivo (*2018*) y la preparación de los datos, se realizarán las siguientes operaciones:

1. Importación de las librerías necesarias (**Pandas**, **NumPy** y **Matplotlib**).
2. Definición de los parámetros a emplear en los gráficos de **Matplotlib**.
3. Lectura de los datos empleando el método `.read_csv()`.
4. Mostrar el **DataFrame** resultante empleando el método `.head()`.

In [ ]:
#Importación de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Definición de los parámetros de los gráficos
plt.rcParams.update({'font.size': 11, 'figure.figsize': (10, 8)}) 

#Lectura de los datos desde el archivo TXT
nomb18_df = pd.read_csv('./Datos/Nace/Nacimientos_2018.txt', names = ['Nombre', 'Sexo', 'Cantidad'])

#Impresión de los Resultados
print("El DataFrame es:")
nomb18_df.head(10)

### Concatenación de los Datos
La **Concatenación** de objetos a través de **Pandas** permite unir los distintos archivos con los que se cuenta bajo la misma estructura definida para el **DataFrame**, para ello se emplea el método `.concat()`.

La documentación del método `.concat()` se puede consultar [en esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

Primeramente se inicializará una lista asignada a una variable, y por medio de un ciclo `for` se realiza la concatenación de cada uno de los archivos para el rango del año 2000 al 2018. Se agrega el valor `2018+1` para que este último año sea agregado también. 

Adicionalmente, se creará una columna nueva donde se agregue el año correspondiente. Para ello, se empleará el índice `-1` para que se agregue al final de la tabla.

In [ ]:
#Inicialización de la Lista
todo_tiempo = []

#Asignación de los Archivos a la Lista
for tiempo in range(2000, 2018+1):
    todo_tiempo.append(pd.read_csv('./Datos/Nace/Nacimientos_{}.txt'.format(tiempo), names = ['Nombre', 'Sexo', 'Cantidad']))
    todo_tiempo[-1]['Año'] = tiempo
    
#Concatenación de los Elementos de la Lista a un DataFrame
nombres_df = pd.concat(todo_tiempo)

#Impresión de los Resultados
print("El tamaño total del DataFrame es:",nombres_df.shape)
print("El DataFrame es:")
nombres_df.head(10)

### Agrupación de los Datos
La **Agrupación** de datos a través de **Pandas** se realiza a través del método `.groupby()`, el cual genera un nuevo **DataFrame** con las características indicadas.

La documentación del método `.groupby()` se puede consultar [en esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

Por ejemplo, para agrupar el **DataFrame** por medio de los valores de `Sexo` y `Año`:

In [ ]:
#Agrupación de los datos por "Sexo" y "Año"
agrupa_df = nombres_df.groupby(['Sexo', 'Año'])
agrupa_df.head()

A partir de este nuevo **DataFrame** es posible revisar algunos detalles como el tamaño del agrupamiento. En este caso, **Pandas** indica la cantidad de nombres (registros) que hay para cada sexo y por cada año (no la cantidad de bebés que nacieron).

In [ ]:
#Cantidad de Datos en el DataFrame
agrupa_df.size()

Es sencillo visualizar la cantidad de datos que fueron agrupados por los valores de `Sexo` y `Año`. Sin embargo, para que sea más sencilla la visualización, se puede emplear el método `.size().unstack()` de la siguiente manera:

In [ ]:
#Cantidad de Datos en el DataFrame
agrupa_df.size().unstack()

Ahora, si se requiere saber el número total de bebés que nacieron, se puede usar el método `.sum()`. Por ejemplo, para el **DataFrame** que solo contiene los valores de 2018, se calcula el total de bebés nacidos en base al `Sexo`:

In [ ]:
#Cantidad de Datos en el DataFrame
nomb18_df.groupby(['Sexo']).sum()

Para el **DataFrame** agrupado por medio de los valores de `Sexo` y `Año`, es posible calcular la cantidad de bebés que nacieron agrupados por `Año`:

In [ ]:
#Cantidad de Datos en el DataFrame
nombres_df.groupby(['Año']).sum()

De igual manera, es posible calcular la cantidad de bebés que nacieron agrupados por `Sexo`y `Año`:

In [ ]:
#Cantidad de Datos en el DataFrame
nombres_df.groupby(['Año', 'Sexo']).sum()

### Pivoteo
El **Pivoteo** o uso de ***Tablas Pivote*** son sumamente útiles para el caso de buscar conclusiones de los datos contenidos en el **DataFrame**. De manera automática pueden ordenar, contar, determinar totales o promedios de los datos. Posteriormente, los resultados se muestran a través de una nueva tabla.

En **Pandas**, la función de tabla pivote se realiza por medio del método `.pivot_table()`. 

La documentación del método `.pivot_table()` se puede consultar [en esta liga](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html).

Para realizar la construcción de una ***Tabla Pivote***, se empleará el **DataFrame** con el que hay interés en trabajar, indicando los datos con los que se pretende mostrar, y la manera como se agruparán. 

En este ejemplo se usará el **DataFrame** que contiene todos los datos del año 2000 al 2018 (`nombres_df`), comenzando con mostrar el número de bebés que han nacido pero agrupados por nombre y año:

In [ ]:
#Cantidad de Datos en el DataFrame
pd.pivot_table(nombres_df, 'Cantidad', 'Nombre', 'Año')

Debido a que existen muchos valores nulos (`NaN`), lo cual es normal ya que indica que hay años en los que no hubo ningún bebé con dicho nombre, es probable que convenga utilizar `Nombre` y `Año` como columnas. Para ello, es posible emplear corchetes en el método `.pivot_table()` de la siguiente manera:

In [ ]:
#Cantidad de Datos en el DataFrame
pd.pivot_table(nombres_df, 'Cantidad', ['Año', 'Nombre'])

Adicionalmente, es posible agrupar los datos para contener `Nombre` y `Sexo` en una dimensión, así como `Año` en la otra:

In [ ]:
#Cantidad de Datos en el DataFrame
pd.pivot_table(nombres_df, 'Cantidad', ['Nombre', 'Sexo', 'Año'])

### Visualización de los Datos
Al emplear **Pandas** con otras librerías como **Matplotib**, es posible visualizar los datos de una manera mucho más adecuada. 

Por ejemplo, es posible visualizar los datos acerca de la popularidad de un cierto nombre para cada año. Para ello, es necesario definir y ordenar los **Indices** del **DataFrame** para que permita ver la manera como cambia la popularidad de ese nombre.

La librería **Pandas** permite realizar indexado multi-nivel para poder agrupar y manipular datos con un número de dimensiones arbitrario.

Primeramente, se definirán como los **Indices** del **DataFrame** que contiene todos los datos del año 2000 al 2018 (`nombres_df`) las columnas `Sexo`, `Nombre` y `Año`. Para ello se emplea el método `.set_index()` que ya ha sido revisado previamente, aplicando el método `.sort_index()` para que ordene el **DataFrame** en base a las columnas que definen los **Indices**.

In [ ]:
#Definición de los Indices en el DataFrame
nombres_df_index = nombres_df.set_index(['Sexo','Nombre','Año']).sort_index()

#Impresión de los Resultados
print("El DataFrame es:")
nombres_df_index

Ahora se definirá una función llamada `nombres_grafica` a través de la cual se graficará la popularidad de un nombre respecto del tiempo. Para ello: 

1. Se hará el llamado a esa función por medio de los parámetros `Sexo` y `Nombre`.
2. Se empleará el método `.loc[]` para buscar renglones en el **DataFrame** en base a los parámetros `Sexo` y `Nombre` que se hayan indicado.
3. Finalmente se mostrarán esos valores de manera gráfica.

In [ ]:
import math

#Definición de la Función para Graficar Nombres
def nombres_grafica(sexo, nombre):
    datos = nombres_df_index.loc[sexo, nombre]
    plt.plot(datos.index, datos.values)
    plt.title('Popularidad de Nombre por Año')
    plt.xlabel('Años')
    plt.ylabel('Cantidad')
    plt.xticks(rotation=70)
    plt.xticks(range(math.floor(min(datos.index)), math.ceil(max(datos.index))+1))

Para probarlo, se llamará a la función `nombres_grafica` con los parámetros `Sexo` y `Nombre` que definan valores en particular. Por ejemplo, para el nombre ***Danica***:

In [ ]:
#Llamado a la Función nombres_grafica
nombres_grafica('F', 'Danica')

#Guardar el Gráfico Resultante
#plt.savefig('./Guardados/Popular_Nombre.png', dpi=300, transparent=False, bbox_inches='tight')

Donde es posible observar que el nombre "Danica" tuvo una amplia popularidad alrededor del año 2007, pero posteriormente fue decreciendo. 

Una ventaja es que la función `nombres_grafica` puede ser empleada para varios nombres a la vez. Para ello:

1. Se crea una lista con los nombres que interesa revisar.
2. Se realiza un ciclo `for` para enviar los nombres a la función `nombres_grafica`.
3. Finalmente, se incluye una leyenda para entender mejor los datos.

In [ ]:
#Definición de la Lista de Nombres
nombres = ['Sammy', 'Jesse', 'Drew', 'Jamie']

#Llamado a la Función nombres_grafica
for nombre in nombres:
    nombres_grafica('F', nombre)

#Agregación de la Leyenda en el Gráfico
plt.legend(nombres);

#Guardar el Gráfico Resultante
#plt.savefig('./Guardados/Nombres_F.png', dpi=300, transparent=False, bbox_inches='tight')

¿Será distinto si los nombres son de hombre y no de mujer? Para ello, simplemente se modifica el parámetro en el llamado a la función `nombres_grafica` de la siguiente manera:

In [ ]:
#Definición de la Lista de Nombres
nombres = ['Sammy', 'Jesse', 'Drew', 'Jamie']

#Llamado a la Función nombres_grafica
for nombre in nombres:
    nombres_grafica('M', nombre)

#Agregación de la Leyenda en el Gráfico
plt.legend(nombres);

#Guardar el Gráfico Resultante
#plt.savefig('./Guardados/Nombres_M.png', dpi=300, transparent=False, bbox_inches='tight')

A partir de este ejemplo de visualización se pueden construir distintos **DataFrames** que contengan **Indices** que sean múltiples, dependiendo de la naturaleza de los datos y de la información que se requiera extraer.

<div class="alert alert-block alert-success">
<b>.: Fin del Subtema :.</b>
</div>

***Liga de aceso al siguiente Subtema:*** 
<br>[h. Series de Tiempo y Estacionariedad](h.%20Series%20de%20Tiempo%20y%20Estacionariedad.ipynb)